body{
    background-color: black;
    color: aliceblue;
    align-items: center;

}

.container{
    height: 500px;
    display: flex;
    gap: 10px;
    text-align: center;

}

.box{
    height: 100px;
    width:100px;
    border-radius: 20%;
    font-size: 5em;
    border: 2px solid blue;
    background-image: url("wallpaperflare.com_wallpaper\ \(4\).jpg");
    background-size: cover;
}