body{
    background-color: rgb(65, 63, 63);
    color: antiquewhite;
}

.mainbox{
    height: 650px;
    width: 650px;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(3,200px);
    grid-template-rows: repeat(3,200px);
}

.box{
    height: 200px;
    width: 200px;
    border: 2px solid white;
}