body{
    background-color: #484848;
}

h1{
    color: rgb(237, 240, 176);
    font-size: 50px;
}

.container{
    height: 90vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.calculator{
    border: 2px solid rgb(237, 237, 196);
    border-radius: 10px;
    height:58vh;
    width: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(21, 34, 34);
    
}

#output{
    height: 110px;
    width: 340px;
    color:black;
    border-radius: 20px;
    border: none;
    margin-top: 7px;
    margin-bottom: 7px;
    background-color: rgb(237, 237, 196);
    font-size: 40px;
    text-align: right;
}
#output::placeholder{
    color:black;
}

.btnOperator{
    color: blue;
}

button{
    font-size: 25px;
    margin: 5px;
    margin-top: 10px;
    width: 75px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color:rgb(237, 237, 196);
    font-weight: 900;
}

button:hover{
    color:red;
}

#ac,#del{
    font-size: 21px;
}

#zero{
    margin: 5px;
    margin-top: 10px;
    width: 164px;
    height: 50px;
}