body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: rgb(158, 7, 7);
    background-color:rgb(117, 112, 112) ;

}

header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(117, 112, 112);
    align-items: center;
    padding: 10px 20px;
    padding-top: 0px;
    position: sticky;
    top: 10px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}
body, html{
    height: 100%;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    transition: color 0.3s;
    font-size: 25px;
}

nav ul li a:hover {
    color: #1db954;
}

.hero-section {
    text-align: center;
    padding: 100px 20px;
    /* background: linear-gradient(purple,blue,skyblue); */
}

.hero-section h1 {
    font-size: 48px;
    margin: 0;
}

.hero-section p {
    font-size: 20px;
    margin: 10px 0;
}

.hero-section button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #1db954;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.hero-section button:hover {
    background-color: #14833b;
}

footer {
    text-align: center;
    padding: 10px 20px;
    font-size: 20px;
    color: black;
}

.movies1{
    margin: 20px;
    display: flex;
    gap: 20px;
}
.movies2{
    margin: 20px;
    display: flex;
    gap: 20px;
}
.user-actions button {
    margin-left: 10px;
    padding: 15px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: red;
    font-size: 20px;
}

.user-actions button:hover{
    background-color: #14833b;
}

.moviesA{
    border-radius: 10%;
    border:  5px solid black;
}

.moviesB{
    border-radius: 10%;
    border:  5px solid black;
}

.moviesA:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgb(158, 7, 7);
}

.moviesB:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgb(158, 7, 7);
}